* {
    box-sizing: border-box;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(207, 159, 252);
 }
  
  .flex-item-left {
    width: 400px;
    height: 400px;
    padding: 5px;
    margin: 10px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
 }
  
  /* Responsivo layout - fazendo uma coluna-layout ao inves de duas
 colunas no layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  /* forms */
  input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

  button {
    background-color: #e7e7e7; 
    border: none;
    color:black;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }